<a href="https://colab.research.google.com/github/Preeti27092000/possum_linear_regression/blob/main/possum.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# import 'Pandas' 
import pandas as pd 

# import 'Numpy' 
import numpy as np

# import subpackage of Matplotlib
import matplotlib.pyplot as plt

# import 'Seaborn' 
import seaborn as sns

# to suppress warnings 
from warnings import filterwarnings
filterwarnings('ignore')

# display all columns of the dataframe
pd.options.display.max_columns = None

# display all rows of the dataframe
pd.options.display.max_rows = None
 
# to display the float values upto 6 decimal places     
pd.options.display.float_format = '{:.6f}'.format

# import train-test split 
from sklearn.model_selection import train_test_split

# import various functions from statsmodel to perform linear regression
import statsmodels
import statsmodels.api as sm

In [ ]:
p = pd.read_csv("possum.csv")
p.head()

,case,site,Pop,sex,age,hdlngth,skullw,totlngth,taill,footlgth,earconch,eye,chest,belly
0,1,1,Vic,m,8.000000,94.100000,60.400000,89.000000,36.000000,74.500000,54.500000,15.200000,28.000000,36.000000
1,2,1,Vic,f,6.000000,92.500000,57.600000,91.500000,36.500000,72.500000,51.200000,16.000000,28.500000,33.000000
2,3,1,Vic,f,6.000000,94.000000,60.000000,95.500000,39.000000,75.400000,51.900000,15.500000,30.000000,34.000000
3,4,1,Vic,f,6.000000,93.200000,57.100000,92.000000,38.000000,76.100000,52.200000,15.200000,28.000000,34.000000
4,5,1,Vic,f,2.000000,91.500000,56.300000,85.500000,36.000000,71.000000,53.200000,15.100000,28.500000,33.000000

In [ ]:
p.shape

(104, 14)

In [ ]:
p.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 104 entries, 0 to 103
Data columns (total 14 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   case      104 non-null    int64
 1   site      104 non-null    int64
 2   Pop       104 non-null    object
 3   sex       104 non-null    object
 4   age       102 non-null    float64
 5   hdlngth   104 non-null    float64
 6   skullw    104 non-null    float64
 7   totlngth  104 non-null    float64
 8   taill     104 non-null    float64
 9   footlgth  103 non-null    float64
 10  earconch  104 non-null    float64
 11  eye       104 non-null    float64
 12  chest     104 non-null    float64
 13  belly     104 non-null    float64
dtypes: float64(10), int64(2), object(2)
memory usage: 11.5+ KB

In [ ]:
p['Pop'].value_counts()

other    58
Vic      46
Name: Pop, dtype: int64

In [ ]:
p['site'].value_counts()

1    33
7    18
2    13
5    13
6    13
3     7
4     7
Name: site, dtype: int64